

<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL List</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header.ejs %>
  <a href="/urls/new">
    <button>Create New Url Link</button>
  </a>
  <p>URL List</p>
    <ul>
      <% for (var i in urls) { %>
        <li>
          <a href="u/<%= i %>"><%= i %></a>      -      <%= urls[i].url %>
          <form action="/urls/<%= i %>/delete" method ="POST">
            <button> DELETE </button>
          </form>
          <a href="/urls/<%= i %>">
            <button> EDIT </button>
          </a>
        </li>
      <% } %>
    </ul>
</body>
</html>




