

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h1><a href="http://localhost:8080/urls/new">Create a New Short Link</a></h1>
  <h2>URLs</h2>
    <ul>
      <% for (var i in urls) { %>
        <li>
          <%= i %> - <%= urls[i] %>
        </li>
      <% } %>
    </ul>
  <h3>Delete Or Edit</h3>
    <ul>
      <% for (var i in urls) { %>
        <li>
          <%= i %> - <%= urls[i] %>
          <form action="/urls/<%= i %>/delete" method="post">
            <button> DELETE </button>
          </form>
          </form action="/urls/<%= i %>" method="GET">
            <button> EDIT </button>
          </form>
        </li>
      <% } %>
    </ul>
</body>
</html>




